<%- include("partials/navbar.ejs") %>







    <form action="/submit" method="POST">


        <main class="container">

            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary px-0">

                <div class="form-floating mb-3">
                    <textarea class="form-control fst-italic fs-1" id="title" name="title" placeholder=""
                        style="height: 150px; font-weight: 500;" required><%= post.title %></textarea>
                    <label class="fs-5" for="title">Título</label>
                </div>

            </div>



            <div class="row g-5">
                <div class="col-md-8">

                    <article class="blog-post">

                        <div class="form-floating">
                            <textarea class="form-control lh-base" id="content" placeholder="" name="content"
                                style="height: 1000px" required><%= post.content %></textarea>
                            <label for="content">Conenido del post</label>
                        </div>

                    </article>
                </div>










                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-body-tertiary rounded">

                            <div class="form-floating mb-3">
                                <textarea class="form-control fst-italic fs-4" id="author" name="author" placeholder=""
                                    style="height: 75px" required><%= post.author %></textarea>
                                <label for="author">Autor</label>
                            </div>


                            <div class="form-floating">
                                <textarea class="form-control lh-base" id="authorInfo" placeholder="" name="authorInfo"
                                    style="height: 220px" required><%= post.authorInfo %></textarea>
                                <label for="authorInfo">Información del autor</label>
                            </div>

                        </div>



                        <div class="d-grid px-4" style="margin-top: 50px;">

                            <button class="btn btn-primary btn-lg fst-italic" type="submit">Crear Post</button>

                        </div>

                    </div>
                </div>
            </div>

        </main>

    </form>




    <% if (alert) { %>
        <div class="alert alert-warning" role="alert">
            Ya existe un post con ese título
        </div>
        <% } %>






            <%- include("partials/footer.ejs") %>